/*--------------------------------------------------
  Анимации - Keyframes
---------------------------------------------------*/
@keyframes rotating {
  0% {
    -webkit-transform: translate(-8px, -8px) rotate(0deg);
    transform: translate(-8px, -8px) rotate(0deg);
  }

  95% {
    -webkit-transform: translate(-8px, -8px) rotate(350deg);
    transform: translate(-8px, -8px) rotate(350deg);
  }

  100% {
    -webkit-transform: translate(-8px, -8px) rotate(360deg);
    transform: translate(-8px, -8px) rotate(360deg);
  }
}
@keyframes arrow-button__picto-over-down {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-50%, 100%) rotate(90deg);
    transform: translate(-50%, 100%) rotate(90deg);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translate(-50%, -200%) rotate(90deg);
    transform: translate(-50%, -200%) rotate(90deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 1;
  }
}
@keyframes arrow-button__picto-over-right {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translate(-200%, -50%);
    transform: translate(-200%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes arrow-button__picto-over-left {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
  }
  50% {
    -webkit-transform: translate(-100%, -50%) scaleX(-1);
    transform: translate(-100%, -50%) scaleX(-1);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translate(100%, -50%) scaleX(-1);
    transform: translate(100%, -50%) scaleX(-1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
    opacity: 1;
  }
}
@keyframes arrow-button__picto-out-down {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -200%) rotate(90deg);
    transform: translate(-50%, -200%) rotate(90deg);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translate(-50%, 100%) rotate(90deg);
    transform: translate(-50%, 100%) rotate(90deg);
  }
  to {
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    transform: translate(-50%, -50%) rotate(90deg);
    opacity: 1;
  }
}
@keyframes arrow-button__picto-out-right {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-200%, -50%);
    transform: translate(-200%, -50%);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translate(100%, -50%);
    transform: translate(100%, -50%);
  }
  to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}
@keyframes arrow-button__picto-out-left {
  0% {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
  }
  50% {
    -webkit-transform: translate(100%, -50%) scaleX(-1);
    transform: translate(100%, -50%) scaleX(-1);
    opacity: 0;
  }
  50.01% {
    -webkit-transform: translate(-100%, -50%) scaleX(-1);
    transform: translate(-100%, -50%) scaleX(-1);
  }
  to {
    -webkit-transform: translate(-50%, -50%) scaleX(-1);
    transform: translate(-50%, -50%) scaleX(-1);
    opacity: 1;
  }
}
@keyframes arrow-button__border-over {
  0% {
    transform: rotate(-90deg);
  }
  to {
    transform: rotate(90deg);
    stroke-dashoffset: 0;
  }
}
@keyframes arrow-button__border-out {
  0% {
    transform: rotate(90deg);
    stroke-dashoffset: 0;
  }
  to {
    transform: rotate(270deg);
    stroke-dashoffset: -207.34512px;
  }
}

@keyframes ring-button__border-over {
  0% {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
    stroke-dashoffset: 0;
  }
}
@keyframes ring-button__border-out {
  0% {
    transform: rotate(180deg);
    stroke-dashoffset: 0;
  }
  to {
    transform: rotate(360deg);
    stroke-dashoffset: -207.34512px;
  }
}
