/*--------------------------------------------------
  Переменные - Variables
---------------------------------------------------*/
$background-color: rgb(15, 16, 16);
$font-family: "SfProDisplay";
$FS: 16px;
$fullhd-FS: 20px;
$FS-icons: 16px;
$fullhd-FS-icons: 22px;
$transition-s: 0.3s;
$gray: #aaa;
$liquidRadius: 40px;
$yellow: #ffdf02;
$crclBtnWH: 65px;
