/*--------------------------------------------------
  Переменные - Variables
---------------------------------------------------*/
$background-color: rgb(15, 16, 16);
$font-family: "SfProDisplay";
$font-size: 14px;
$transition-s: 0.3s;
$gray: #aaa;
$liquidRadius: 40px;
$yellow: #ffdf02;
$crclBtnWH: 65px;
