.about-section {
  filter: blur(0px);
  height: 100vh;
  background: transparent;
  width: 100%;
  position: fixed;
  overflow: hidden;
  z-index: 19;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  .about__header {
    position: fixed;
    width: 100%;
    z-index: 20;
    height: 120px;
    padding: 0 60px;
    margin: 0 auto;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
    i {
      color: black;
      font-size: 16px;
    }
  }
  h1 {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 700;
    letter-spacing: -0.005em;
    @include for-size(tablet-portrait-up) {
      font-size: 38px;
    }
  }
  p {
    color: #999;
    margin-top: 15px;
    width: 450px;
  }
  a {
    display: flex;
    margin-top: 40px;
    width: max-content;
    padding: 13px 30px;
    font-size: 13.5px;

    color: white;
    outline: none;
    color: black;
    border: 0;
    background: $yellow;

    font-weight: 500;

    &:hover {
      background: rgba($yellow, 0.12);
      color: $yellow;
    }
  }
  .available-for-work {
    margin-bottom: 15px;
    margin-top: -80px;
    font-size: 13.5px;
  }
  .flexCol {
    align-items: center;
    width: 79%;

    @include for-size(tablet-portrait-up) {
      margin: auto;
    }
  }
}
