*,
*:before,
*:after {
  /* Позиционирование */

  /* Блочная модель */
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Типографика */

  /* Оформление */
  user-select: none;

  /* Анимация */

  /* Разное */

  /* Адаптация */
}
* ::-webkit-scrollbar {
  width: 3px;
  transition: 0.5s all;
  background: transparent;
  display: none;
  @include for-size(tablet-portrait-up) {
    display: none;
  }
}
* ::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 1);
}
* ::-webkit-scrollbar-thumb {
  background: white;
}
input[type="text"],
textarea {
}
a {
  /* Позиционирование */

  /* Блочная модель */

  /* Типографика */
  text-decoration: none;

  /* Оформление */
  cursor: pointer;

  /* Анимация */

  /* Разное */

  /* Адаптация */
}

.white-space-pre {
  white-space: pre;
}
.on-menu-active {
  display: none !important;
  opacity: 0;
  &.active {
    display: flex !important;
  }
}
ul {
  list-style: none;
}
p {
  font-size: $FS;
  line-height: 1.42859;
  font-weight: 400;
  letter-spacing: -0.016em;
  font-family: "SFProText";

  @include for-size(big-desktop-up) {
    font-size: $fullhd-FS;
  }
}
button {
  font-family: $font-family;
}
#grain {
  position: fixed;
  pointer-events: none;
  z-index: 100;
  width: 100vw;
  height: 100%;
  background: rgba(1, 1, 1, 0);
  top: 0;
}
.elasticman {
  border: unset;
  position: fixed;
  z-index: 10;
  width: 100vw;
  height: calc(100% + 120px);
  min-height: 600px;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition: 0.5s opacity;
  pointer-events: none;

  @include for-size(big-descktop-up) {
    height: calc(100% + 440px);
  }
}
.flexRow {
  display: flex;
}
.flexCol {
  display: flex;
  flex-direction: column;
}
html {
  font-size: $FS;

  @include for-size(big-desktop-up) {
    font-size: $fullhd-FS;
  }
}

html,
body {
  position: relative;

  text-decoration: none;

  background: black;
}

body {
  margin: 0;

  font-family: $font-family;

  color: white;
}

#app {
  /* Позиционирование */

  /* Блочная модель */
  width: 100%;
  height: 100%;

  /* Типографика */

  /* Оформление */

  /* Анимация */

  /* Разное */

  /* Адаптация */
}

section {
  &.home {
    top: 0;

    width: 100%;
    min-width: 320px;

    transition: 1s filter, 1s transform;
  }
}

/*--------------------------------------------------
	01. Header/Footer
---------------------------------------------------*/
header,
footer {
  position: fixed;
  z-index: 21;
  left: 0;
  right: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  width: 100%;
  height: 120px;
  margin: 0 auto;
  padding: 0 65px;

  @include for-size(big-desktop-up) {
    height: 180px;
    padding: 0 103px;
  }

  @include for-size(tablet-portrait-up) {
    height: 100px;
  }

  .hide-ball {
    pointer-events: all;
  }

  @include wrapper();
  @include for-size(tablet-portrait-up) {
    padding: 30px;
  }
}
header {
  top: 0;
  justify-content: space-between;
  &.elasticm {
    &:before {
      height: 150%;
      top: -40px;
      filter: blur(10px);
      opacity: 0;
      background: linear-gradient(
        to top,
        transparent,
        transparent,
        transparent,
        rgba(0, 0, 0, 0.1),
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.7)
      );
    }
    .header__toggle-el:not(.header__toggle-el_about-contact):not(.header__toggle-el_main-logotip),
    .magic-parallax {
      transition: 0.3s opacity;
      opacity: 0;
      position: absolute;
      pointer-events: none;
    }
  }
  &.elasticm-show-close {
    .header__toggle-el_about-contact {
      display: flex;
      pointer-events: all !important;
    }
  }
  &:before {
    content: "";
    background: linear-gradient(to top, transparent, rgba(0, 0, 0, 0.4));
    width: 101%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 0;
  }
  &[about-contact] {
    .header__toggle-el_about-contact {
      display: flex;
      pointer-events: all !important;
    }
    .magic-parallax_contact {
      opacity: 0;
      pointer-events: none;
      .icon-wrapper {
        pointer-events: none;
      }
    }
    .header__toggle-el_main {
      display: none;
    }
  }
  .magic-parallax {
    transition: 0.3s opacity;

    svg {
      fill: white;
      width: 15px;
      height: 15px;
    }
  }
  .header__toggle-el_main-logotip {
    .icon-wrapper_logotip {
      @include for-size(tablet-portrait-up) {
        margin-left: -9px;
      }
    }
    a {
      .genazozulya {
        font-family: Chub Gothic;
        font-size: 21px;

        @include for-size(big-desktop-up) {
          font-size: 28px;
        }
      }
    }
  }
  .flexRow:nth-child(1) {
    .magic-parallax {
      margin-left: -20px;
    }
  }
  .flexRow:nth-child(3) {
    display: flex;
    margin-left: auto;
    align-items: center;
    margin-right: -20px;

    @include for-size(tablet-portrait-up) {
      margin-right: -9px;
      justify-content: flex-end;
      width: max-content;
      .icon-wrapper {
        margin: 0;
      }
    }

    .icon-wrapper {
      background: transparent;
    }

    .magic-parallax {
      margin-left: 10px;
      @include for-size(big-desktop-up) {
        margin-left: 40px;
      }
    }
  }
  .header__toggle-el_about-contact {
    display: none;

    position: fixed;
    top: 0;
    bottom: 0;
    margin: auto;

    align-items: center;
    margin-left: -20px;
    width: $crclBtnWH;
    height: $crclBtnWH;
    z-index: 1;

    font-size: 16px;

    cursor: pointer;

    .close-btn {
      width: 100%;
      height: 100%;
      cursor: pointer;
      .arrow-button {
        pointer-events: none;
      }
    }
    .arrow-button--left {
      pointer-events: none !important;
    }
    i {
      cursor: pointer;
    }
    img {
      margin-top: 4px;
      width: 16px;
      cursor: pointer;
    }
  }
  .magic-parallax {
    .icon-wrapper {
      &_question {
        svg {
          opacity: 0.4;
          width: 14px;
          height: 14px;
          @include for-size(big-desktop-up) {
            width: 18px;
            height: 18px;
          }
        }
        @include for-size(tablet-portrait-up) {
          display: none;
        }
      }
      &.icon_language {
        a {
          width: 100%;
          height: 100%;
          @include flexCenter;

          border-radius: 100px;

          @include for-size(big-desktop-up) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
footer {
  bottom: 0;
  align-items: center;
  justify-content: space-between;
  z-index: 11;
  position: fixed;

  &.davidli {
    .davidli {
      transform: translateY(0);
      pointer-events: all;
    }
    .swiper-scrollbar {
      opacity: 0;
    }
    .magic-parallax {
      opacity: 0 !important;
      pointer-events: none;
    }
  }
  .magic-parallax {
    transition: 0.3s opacity;

    margin-right: 10px;

    &:nth-child(1) {
      margin-left: -20px;
    }
  }
  .davidli {
    position: absolute;
    bottom: 24px;
    right: 0;
    left: 0;
    pointer-events: none;

    width: max-content;
    margin: auto;

    font-weight: 400;
    text-align: center;

    opacity: 0.2;
    color: white;
    transform: translateY(100px);

    &:hover {
      opacity: 1;
    }
  }
  .flexRow {
    align-items: center;
  }
  .flexRow:nth-child(1) {
    .magic-parallax {
      @include for-size(big-desktop-up) {
        margin-right: 40px;
      }
    }
  }
  .flexRow:last-child {
    margin-right: -20px;
    @include for-size(tablet-portrait-up) {
      margin-right: -9px;
    }
    .magic-parallax {
      opacity: 0.3;
      margin: 0;
      &:hover {
        opacity: 1;
      }
      @include for-size(tablet-portrait-up) {
        opacity: 1;
      }
      .icon-wrapper {
        svg {
          pointer-events: all;
          fill: white;
          width: 18px;
          height: 18px;

          @include for-size(big-desktop-up) {
            width: $fullhd-FS-icons ;
            height: $fullhd-FS-icons ;
          }
        }
      }
    }
  }
  img {
    width: 55px;
    margin-left: auto;
    z-index: 1;
    position: absolute;
    right: 65px;
    bottom: 45px;
    pointer-events: all;
  }
  .text-lower-main {
    position: absolute;
    bottom: 24px;
    right: 0;
    left: 0;
    pointer-events: none;

    width: max-content;
    margin: auto;

    font-weight: 400;
    text-align: center;

    color: white;
    opacity: 0.15;
    transform: translateY(100px);

    transition: 0.2s opacity;

    &:hover {
      opacity: 0.25;
    }
    span {
      font-size: 10.5px;
    }
    p {
      pointer-events: none;
      font-size: 10.8px;
    }
  }
}

/*--------------------------------------------------
02. Интерактивные подсказки - Interactive guide 
---------------------------------------------------*/
.guide-cover {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  background: transparent;
  pointer-events: none;
  top: 0;
  opacity: 0;
  &:before {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    z-index: 1;
  }
  .before {
    width: 110px;
    height: 110px;
    border-radius: 10000px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1.5px solid transparent;
    &[tip__mode="square"] {
      border-radius: 4px;
      .border {
        border-radius: 0;
      }
    }
    .border {
      width: calc((100vw + 100%) * 2);
      height: calc((100vw + 100%) * 2);
      border-radius: calc((100vw + 100%) * 2);
      border: calc(100vw + 100%) solid rgba(0, 0, 0, 0);
      position: absolute;
    }
  }
  .guide-tip {
    position: fixed;
    z-index: 2;
    width: auto;
    height: auto;
    padding: 0px;
    color: white;
    .flexRow_title {
      display: flex;
      align-items: center;
      padding-left: 1px;
      position: relative;
      width: max-content;
    }
    h3 {
      font-size: 32px;
      line-height: 1.07143;
      font-weight: 400;
      letter-spacing: -0.005em;
      color: #ffdf02;
      margin-left: -2px;
      @include for-size(full-hd) {
        font-size: 60px;
      }
    }
    &__text {
      max-width: 300px;
      margin-right: auto;
      margin-left: 0;
      margin-top: 3px;
      text-align: left;
      color: #ccc;
    }
    &__count {
      margin-top: 10px;
      background: rgba(#ffdf02, 0.1);
      color: #ffdf02;
      width: max-content;
      padding: 4px 9px;
      font-size: 12px;
      border-radius: 7px;
    }
    &__next-btn,
    &__prev-btn {
      padding: 10px 30px;
      outline: none;
      color: black;
      border: 0;
      background: #ffdf02;
      color: black;
      font-weight: 400;
      margin: 0;
      &.guide-tip__prev-btn {
        display: none;
        background: rgba(#ffdf02, 0.1);
        color: #ffdf02;
        &.active {
          display: block;
        }
      }
      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }
    &__close-btn {
      @include flexCenter;
      right: -30px;
      top: 0px;
      fill: white;
      width: 24px;
      height: 24px;
      background: rgba(#ffdf02, 0.1);
      border-radius: 50%;
      position: absolute;
      padding: 0;
      border-color: transparent;
      outline: none;
      cursor: pointer;
      &:hover {
        background: #ffdf02;
        svg {
          fill: black;
          opacity: 1;
        }
      }
      svg {
        width: 8px;
        height: 8px;
        fill: #ffdf02;
        opacity: 0.5;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
  .tip {
    position: absolute;
    width: 310px;
    height: auto;
    background: white;
    top: -370%;
    left: 130%;
    padding: 15px;
    border-radius: 7px;
    background: rgba(30, 30, 30, 1);
    opacity: 0;
    font-size: $FS * 1.1;
    .title {
      color: white;
      display: flex;
      align-items: center;
    }
    svg {
      margin-left: 7px;
      font-size: $FS * 0.9;
      margin-top: 2px;
    }
    p {
      color: $gray;
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
  .guide__flexRow_fixed {
    position: fixed;
    right: 65px;
    bottom: 40px;
    z-index: 3;

    @include flexCenter;
    width: max-content;
    margin: auto;
    height: auto;
    padding: 0px;
    color: white;
    transition: 0.3s all;

    .flexRow {
      display: flex;
      align-items: center;
      .flexRow {
        margin: 0;
      }
    }
  }
}

/*--------------------------------------------------
03. Magic Cursor
---------------------------------------------------*/
#magic-cursor {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  z-index: 10000;

  width: 30px;
  height: 30px;

  transition: opacity 0.2s ease-in-out;

  &.disactive {
    #ball {
      border-color: transparent;
    }
  }
  @include for-size(tablet-portrait-up) {
    display: none;
  }

  &.touch {
    transition: 0s all;
    opacity: 0;
    &.arrow-right {
      #ball {
        .before {
          opacity: 0;
        }
      }
    }
    &.arrow-left {
      #ball {
        .after {
          opacity: 0;
        }
      }
    }
    &.arrow-none {
      #ball {
        &:before {
          opacity: 0;
        }
        &:after {
          opacity: 0;
        }
      }
    }

    #ball {
      .before {
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      }
      .after {
        opacity: 1;
        transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      }
      i {
        opacity: 0;
        transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
      }
    }
  }
  &.mfp-zoom-out-cur {
    #ball {
      opacity: 0;
      -webkit-transition: opacity 0.2s ease-in-out 0s;
      transition: opacity 0.2s ease-in-out 0s;
    }
  }
  &.show-loader {
    #ball-loader {
      opacity: 1;
      -webkit-transition: opacity 0.2s ease-in-out 0s;
      transition: opacity 0.2s ease-in-out 0s;
    }
  }
  &.show-loader a,
  .show-loader nav {
    pointer-events: none;
  }
  #ball {
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    pointer-events: none;
    opacity: 1;
    box-sizing: border-box;
    .before {
      width: 8px;
      height: 8px;
      line-height: 8px;
      text-align: center;
      position: absolute;
      left: -15px;
      top: 9px;
      color: #000;
      opacity: 0;
      transition: all 0.1s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    .after {
      font-size: 6px;
      width: 8px;
      height: 8px;
      line-height: 8px;
      text-align: center;
      position: absolute;
      right: -15px;
      top: 9px;
      color: #000;
      opacity: 0;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    i {
      color: #000;
      width: 29px;
      height: 30px;
      line-height: 28px;
      text-align: center;
      font-size: 6px;
      display: block;
      opacity: 1;
      transition: all 0.2s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
    }
    &.over-movie {
      border: 2px solid #fff;
      border-color: #fff;
      i {
        color: #fff;
      }
      i.fa-play {
        display: block;
      }
      i.fa-pause {
        display: none;
      }
    }
    &.with-icon {
      border: 2px solid #fff;
      border-color: #fff;
      i {
        color: #fff;
        width: 27px;
      }
    }
    &.close-icon {
      i {
        width: 27px;
        font-size: 8px;
      }
    }
    &.over-movie.pause-movie {
      i.fa-pause {
        display: block;
      }
      i.fa-play {
        display: none;
      }
    }
  }
  #ball-loader {
    width: 42px;
    height: 42px;
    position: absolute;
    background-color: transparent;
    border-right: 2px solid transparent;
    border-bottom: 2px solid #ffffff;
    border-left: 2px solid transparent;
    border-top: 2px solid transparent;
    border-radius: 50px;
    box-sizing: border-box;
    opacity: 0;
    transform: translate(-10px, -10px) rotate(0deg);
    animation: rotating 0.7s ease-in-out infinite;
    -webkit-transition: opacity 0.2s ease-in-out 0s;
    transition: opacity 0.2s ease-in-out 0s;
  }
}
.magic-parallax {
  width: 60px;
  height: 60px;
  @include flexCenter;
  margin: 0;
  pointer-events: all;
  cursor: pointer;

  &__scale-unset {
    @include flexCenter;
    width: 100%;
    height: 100%;
  }

  .icon {
    position: fixed;

    width: 38px;
    height: 38px;

    margin: 0 auto;

    // background: rgba(255, 255, 255, 0.13);
    color: white;
    border-radius: 100px;

    transition: 0.2s background-color;

    svg {
      @include for-size(big-desktop-up) {
        width: $fullhd-FS-icons;
        height: $fullhd-FS-icons;
      }
    }
  }
}

.icon {
  @include flexCenter;
}

a,
button {
  color: inherit;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  text-transform: inherit;
  letter-spacing: inherit;
}
button:focus {
  outline: none;
}
button:disabled {
  cursor: default;
}
.arrow-button {
  position: relative;
  width: $crclBtnWH;
  height: $crclBtnWH;
}
@media (min-width: 1440px) {
  .arrow-button {
    width: calc(3.125vw + 20px);
  }
}
@media (min-width: 1920px) {
  .arrow-button {
    width: 80px;
  }
}
@media (min-width: 1440px) {
  .arrow-button {
    height: calc(3.125vw + 20px);
  }
}
@media (min-width: 1920px) {
  .arrow-button {
    height: 80px;
  }
}
.arrow-button__border,
.arrow-button__border svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.arrow-button__border svg {
  stroke: currentColor;
  fill: none;
  backface-visibility: hidden;
}
.arrow-button__border svg:first-child {
  opacity: 0.15;
  @include for-size(tablet-portrait-up) {
    opacity: 0;
  }
}
.arrow-button__border svg:last-child {
  stroke-dasharray: 207.34512px 207.34512px;
  stroke-dashoffset: 207.34512px;
  transform: rotate(-90deg);
  &.disactive {
    animation: arrow-button__border-out 1.5s cubic-bezier(0.77, 0, 0.175, 1);
  }
  &.active {
    animation: arrow-button__border-over 1.5s cubic-bezier(0.77, 0, 0.175, 1)
      forwards;
  }
}
.arrow-button__picto {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 15px;
  height: 9px;
  stroke: currentColor;
  stroke-width: 2px;
  backface-visibility: hidden;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.arrow-button--down .arrow-button__picto {
  transform: translate(-50%, -50%) rotate(90deg);
  animation-name: arrow-button__picto-out-down;
}
html:not(.touch) .arrow-button--down:hover .arrow-button__picto {
  animation-name: arrow-button__picto-over-down;
}
.arrow-button--right .arrow-button__picto {
  transform: translate(-50%, -50%);
  animation-name: arrow-button__picto-out-right;
}
html:not(.touch) .arrow-button--right:hover .arrow-button__picto {
  animation-name: arrow-button__picto-over-right;
}
.arrow-button--left .arrow-button__picto {
  transform: translate(-50%, -50%);
  animation-name: arrow-button__picto-out-left;
}
html:not(.touch) .arrow-button--left:hover .arrow-button__picto {
  animation-name: arrow-button__picto-over-left;
}

.M-project-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 25;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 1);
  overflow-y: scroll;

  transition: 0.6s all;
  margin-top: 100%;
  display: none;

  @include flexCenter;
}

.M-project {
  position: relative;

  padding: 0;
  margin: auto;
  width: 100%;
  height: 100%;

  min-height: max-content;

  font-family: SFProDisplay;
  // border: 2px solid rgb(22, 22, 22);

  @include for-size(big-desktop-up) {
    // width: 1200px;
    // height: 640px;
  }
  @media screen and (max-width: 1250px) {
    // width: max-content;
    // height: max-content;
  }
  @include for-size(tablet-portrait-up) {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;

    min-height: max-content;
  }

  p {
    color: #828282;
    font-family: $font-family;
    letter-spacing: 0.03px;
  }
  &__close-btn-wrapper {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 11;

    width: 65px;
    height: 65px;
  }
  &__close-btn {
    @include flexCenter;
    width: 100%;
    height: 100%;

    border-radius: 50%;
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;

    transform: rotate(270deg);
    transition: 0.4s all;

    &:hover {
      border-color: white;
    }

    svg {
      position: absolute;

      margin: auto;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
  &__preview-img-wrapper {
    @include flexCenter;
    max-width: 100%;
    height: 200px;
    overflow: hidden;
    opacity: 0.2;

    @include for-size(tablet-portrait-up) {
      height: auto;
    }
  }
  &__preview-img {
    width: 100%;
  }
  .img-design {
    @include flexCenter;
    height: 300px;
    width: auto;
    margin-top: 50px;
    margin-right: 50px;

    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
    img {
      width: auto;
      height: 100%;
    }
  }
  &__title {
    color: white;
  }
  /* Дети */
  &__section {
    position: relative;

    width: 100%;
    height: auto;

    &_preview {
      // box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      width: 100%;
      height: auto;
      position: absolute;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;

        width: 100%;
        bottom: 0;
        background: linear-gradient(to top, rgba(black, 1), transparent);
        height: 100%;
      }
    }

    &_info {
      padding: 0px 40px 0px 80px;
      height: auto;
      z-index: 2;
      top: 0;

      @media screen and (max-width: 1250px) {
        padding: 20px 80px 0px 80px;
      }
      @include for-size(tablet-portrait-up) {
        padding: 0px 40px 0px 40px;
      }

      .M-project__flexCol-info {
        margin-top: 0px;
        @media screen and (max-width: 1250px) {
          display: flex;
          margin-top: 40px;
          flex-direction: column;
        }
      }
      .M-project__flexCol {
        padding: 0;
        @include for-size(tablet-portrait-up) {
          width: 100%;
        }
      }
      .M-project__main-info {
        flex-wrap: wrap;
        margin-bottom: 0;
        margin-top: 40px;
        background: #111111;
        padding: 70px 110px;

        @include for-size(big-desktop-up) {
          padding: 90px 120px;
        }
        @include for-size(phone-only) {
          padding: 50px;
        }
        .flexCol {
          width: max-content;
          padding-right: 60px;
          margin: 30px 0;
          width: 25%;

          @include for-size(tablet-portrait-up) {
            width: 50%;
          }

          @include for-size(phone-only) {
            width: 100%;
          }

          h5 {
            font-weight: 800;
            font-size: 22px;

            @include for-size(big-desktop-up) {
              font-size: 30px;
              margin-bottom: 5px;
            }
          }
          a {
            color: #ddd;
          }
          p {
            width: 100%;
            margin-top: 2px;
            word-break: break-all;
          }
          @include for-size(tablet-portrait-up) {
            margin-bottom: 40px;
          }
        }
      }
      .M-project__img-wrapper {
        position: relative;

        @include flexCenter;
        width: max-content;
        height: max-content;
        margin: 0px auto 38px 0;

        @include for-size(tablet-portrait-up) {
          margin: 0 auto;
        }

        img {
          height: 90px;
        }
      }
      .mockup-macbook {
        position: relative;
        width: 80%;
        max-width: 1200px;
        margin: 0 auto;

        @include for-size(phone-only) {
          width: 100%;
        }

        &-settings p {
          text-align: center;
          margin-top: 10px;
        }
        &__device {
          max-width: 100%;
        }
        &__bg {
          background-size: 100% 100%;
          width: 76.3%;
          height: 77.4%;
          position: absolute;
          top: 7.9%;
          left: 11.9%;
          z-index: 21;
        }
        &__image {
          width: 72%;
          height: 74.5%;
          position: absolute;
          top: 6.2%;
          left: 14%;
          z-index: 22;
          border-radius: 1px;
          overflow-y: scroll;
          img {
            width: 100%;
          }
        }
        svg {
          position: absolute;

          width: 30px;
          height: 30px;

          top: 0;
          bottom: 10px;
          right: 25px;
          margin: auto;

          fill: white;
          opacity: 0.7;
        }
      }
      p {
        width: 100%;
        margin-top: 0;
      }
      .M-project__title {
        font-weight: 400;
      }
      .M-project__info-title {
        margin-bottom: 50px;

        h3 {
          font-size: 20px;
        }
        p {
          display: none;
        }
      }
      .M-project__about {
        justify-content: center;

        width: 50%;
        margin: auto;

        @media screen and (max-width: 1250px) {
          margin: 0 auto;
          max-width: 500px;
        }

        p {
          text-align: center;
          color: #777;
        }
      }
    }

    &_buttons {
      padding: 0 30px;
      button {
        display: flex;
        width: max-content;
        margin: 10px 30px 0 auto;
        font-size: 10px;

        outline: none;
        color: white;
        border: 0;
        border-radius: 0;
        background: black;

        font-weight: bold;
        text-transform: uppercase;

        &:hover {
          background: rgba(white, 0.12);
          color: white;
        }
      }
    }
  }
}
