.contact {
  &-form-container {
    /* Позиционирование */
    position: fixed;
    z-index: 2;

    /* Блочная модель */
    @include flexCenter;
    @include wrapper;
    width: 100%;
    height: 100%;
    pointer-events: none;
    top: 0;

    /* Типографика */

    /* Оформление */

    /* Анимация */

    /* Разное */

    /* Адаптация */

    /* Атрибуты */

    /* Дети */
  }

  &-form {
    /* Позиционирование */
    position: relative;
    z-index: 1;

    /* Блочная модель */
    @include flexCenter;
    flex-direction: column;
    overflow: hidden;
    width: 78%;
    height: 100%;
    margin: auto;
    padding-bottom: 0px;

    /* Типографика */

    /* Оформление */

    /* Анимация */

    /* Разное */

    /* Адаптация */

    /* Атрибуты */

    /* Дети */
    &__flexRow {
      /* Позиционирование */

      /* Блочная модель */
      display: flex;
      align-items: center;
      flex-direction: column;
      width: max-content;
      margin-bottom: 20px;
      pointer-events: none;
      overflow: hidden;
      width: 100%;
      // height: 85px;

      /* Типографика */

      /* Оформление */

      /* Анимация */

      /* Разное */

      /* Адаптация */

      /* Атрибуты */

      /* Дети */
      .avatar-wrapper {
        /* Позиционирование */

        /* Блочная модель */
        @include flexCenter;
        width: max-content;
        overflow: hidden;
        padding: 8px;
        margin-top: 150px;
        min-height: 69px;
        margin-bottom: 5px;
        display: none;

        /* Типографика */

        /* Оформление */
        border-radius: 50%;
        &:before {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          background: rgba(155, 155, 155, 0.1);
          z-index: -1;
        }
        backdrop-filter: blur(70px) brightness(1.5);

        /* Анимация */

        /* Разное */

        /* Адаптация */

        /* Атрибуты */

        /* Дети */
        &__padding {
          /* Позиционирование */

          /* Блочная модель */
          @include flexCenter;
          width: 55px;
          height: 55px;
          overflow: hidden;

          /* Типографика */

          /* Оформление */
          border-radius: 50%;

          /* Анимация */

          /* Разное */

          /* Адаптация */

          /* Атрибуты */

          /* Дети */
        }

        img {
          width: 410%;
        }
      }
    }
    .flexRow {
      display: flex;
    }
    &__flexCol {
      /* Позиционирование */

      /* Блочная модель */
      display: flex;
      flex-direction: column;
      width: 100%;

      /* Типографика */

      /* Оформление */

      /* Анимация */

      /* Разное */

      /* Адаптация */

      /* Атрибуты */

      /* Дети */
      h1 {
        /* Позиционирование */

        /* Блочная модель */
        margin: 0;

        /* Типографика */
        font-size: 40px;
        line-height: 1.07143;
        font-weight: 700;
        letter-spacing: -0.005em;

        /* Оформление */
        color: white;

        /* Анимация */

        /* Разное */

        /* Адаптация */
        @include for-size(tablet-portrait-up) {
          font-size: 38px;
        }

        /* Атрибуты */

        /* Дети */
      }
      p {
        /* Позиционирование */

        /* Блочная модель */
        margin: 3px 0 5px 0;

        /* Типографика */

        /* Оформление */
        color: #bbb;

        /* Анимация */

        /* Разное */

        /* Адаптация */

        /* Атрибуты */

        /* Дети */
      }
    }
    &__title {
      /* Позиционирование */

      /* Блочная модель */
      width: 100%;

      /* Типографика */
      word-wrap: break-word;
      font-size: 25px;
      letter-spacing: 1.5px;
      font-family: $font-family;
      font-weight: 200;
      text-align: center;

      /* Оформление */
      opacity: 1;

      /* Анимация */

      /* Разное */

      /* Адаптация */

      /* Атрибуты */

      /* Дети */
    }
    &__input-wrapper {
      height: 53px;
      width: max-content;
      backdrop-filter: blur(70px) brightness(1.4);
      margin-bottom: 20px;
      &:nth-child(2) {
        height: 200px;
      }
    }
    input,
    textarea {
      /* Позиционирование */
      position: relative;

      /* Блочная модель */
      width: 300px;
      padding: 0 0 0 20px;
      height: 100%;

      /* Типографика */
      font-family: $font-family;
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.4px;

      /* Оформление */
      color: white;
      outline: none;
      border: 0;
      resize: none;
      background: rgba(155, 155, 155, 0.05);
      //opacity: 0;
      opacity: 1;

      /* Анимация */

      /* Разное */

      /* Адаптация */
      @include for-size(tablet-portrait-up) {
        width: 100%;
      }

      /* Атрибуты */
      &::placeholder {
        color: rgba(255, 255, 255, 0.25);
      }

      /* Дети */
    }
    textarea {
      padding-top: 18px;
      width: 600px;
    }
    &__inputs {
      /* Позиционирование */

      /* Блочная модель */
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 350px;
      overflow: hidden;

      /* Адаптация */
      @include for-size(tablet-portrait-up) {
        width: 100%;
      }
    }
    &__button-socials {
      /* Позиционирование */

      /* Блочная модель */
      display: flex;
      align-items: center;
      width: max-content;
      height: max-content;
      margin-left: 20px;

      /* Адаптация */

      /* Дети */

      .button {
        &.dark-single {
          --background: none;
          --rectangle: #242836;
          --success: #4bc793;
        }
        &.white-single {
          --background: none;
          --rectangle: #f5f9ff;
          --arrow: #275efe;
          --success: #275efe;
          --shadow: rgba(10, 22, 50, 0.1);
        }
        &.dark {
          --background: black;
          --rectangle: #ddd;
          --arrow: white;
          --text: white;
          --success: #fff;
        }
      }

      .button {
        --background: #275efe;
        --rectangle: #184fee;
        --success: #{mix(white, #184fee, 20%)};
        --text: #fff;
        --arrow: #fff;
        --checkmark: #fff;
        --shadow: rgba(10, 22, 50, 0.24);
        --height: 53px;
        display: flex;
        overflow: hidden;
        text-decoration: none;
        -webkit-mask-image: -webkit-radial-gradient(white, black);
        // background: var(--background);
        box-shadow: 0 2px 8px -1px var(--shadow);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        --duration: 3000;
        backdrop-filter: blur(70px) brightness(1.5);
        &:active {
          transform: scale(0.95);
          box-shadow: 0 1px 4px -1px var(--shadow);
        }
        ul {
          margin: 0;
          list-style: none;
          text-align: center;
          position: relative;
          backface-visibility: hidden;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.5px;
          color: var(--text);
          width: 140px;
          @include flexCenter;
          height: var(--height);
          li {
            height: 100%;
            background: rgba(155, 155, 155, 0.05);
            width: 100%;
            @include flexCenter;
            &:not(:first-child) {
              left: 0;
              right: 0;
              position: absolute;
            }
            &:nth-child(2) {
              top: 100%;
            }
            &:nth-child(3) {
              top: 200%;
            }
          }
        }
        & > div {
          position: relative;
          width: var(--height);
          height: var(--height);
          // background: var(--rectangle);
          @include flexCenter;
          background: rgba(145, 145, 145, 0.1);
          &:before,
          &:after {
            content: "";
            display: block;
            position: absolute;
          }
          .before {
            width: 15px;
            height: 15px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            @include flexCenter;

            .line {
              width: 12px;
              height: 2px;
              background: var(--arrow);
            }
            svg.arrow-right {
              position: absolute;
              z-index: 1;
              margin-left: 10px;
              width: 10px;
            }
          }
          &:after {
            width: var(--height);
            height: var(--height);
            transform-origin: 0 50%;
            border-radius: 0 0 0 0;
            // background: var(--success);

            background: rgba(150, 150, 150, 0.1);
            top: 0;
            left: 0;
            transform: scaleX(0);
          }
          svg:not(.arrow-right) {
            display: block;
            position: absolute;
            width: 14px;
            height: 14px;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto !important;
            fill: none;
            z-index: 1;
            stroke-width: 3px;
            stroke: var(--arrow);
            stroke-linecap: round;
            stroke-linejoin: round;
          }
        }
        &.loading {
          ul {
            animation: text calc(var(--duration) * 1ms) linear forwards
              calc(var(--duration) * 0.065ms);
          }
          & > div {
            .before {
              animation: line calc(var(--duration) * 1ms) linear forwards
                calc(var(--duration) * 0.065ms);
              .arrow-right {
                animation: beforearrow calc(var(--duration) * 1ms) linear
                  forwards calc(var(--duration) * 0.065ms);
              }
              .line {
                animation: beforeline calc(var(--duration) * 1ms) linear
                  forwards calc(var(--duration) * 0.065ms);
              }
            }
            &:after {
              animation: background calc(var(--duration) * 1ms) linear forwards
                calc(var(--duration) * 0.065ms);
            }
            svg:not(.arrow-right) {
              animation: svg calc(var(--duration) * 1ms) linear forwards
                calc(var(--duration) * 0.065ms);
            }
          }
        }
      }

      @keyframes text {
        10%,
        85% {
          transform: translateY(-100%);
        }
        95%,
        100% {
          transform: translateY(-200%);
        }
      }
      @keyframes beforearrow {
        3% {
          opacity: 0;
        }
        100% {
          opacity: 0;
        }
      }
      @keyframes beforeline {
        5%,
        10% {
          width: 8px;
        }
        40% {
          width: 8px;
        }
        65% {
          width: 4px;
        }
        100% {
          width: 0px;
        }
      }
      @keyframes line {
        5%,
        10% {
          transform: translateX(-22px);
        }
        40% {
          transform: translateX(-14px);
        }
        65% {
          transform: translateX(3px);
        }
        75%,
        100% {
          transform: translateX(27.5px);
        }
      }
      @keyframes svg {
        0%,
        20% {
          stroke-dasharray: 0;
          stroke-dashoffset: 0;
        }
        21%,
        89% {
          stroke-dasharray: 26px;
          stroke-dashoffset: 26px;
          stroke-width: 3px;
          margin: -10px 0 0 -10px;
          stroke: var(--checkmark);
        }
        100% {
          stroke-dasharray: 26px;
          stroke-dashoffset: 0;
          margin: -10px 0 0 -10px;
          stroke: var(--checkmark);
        }
        12% {
          opacity: 1;
        }
        20%,
        89% {
          opacity: 0;
        }
        90%,
        100% {
          opacity: 1;
        }
      }
      @keyframes background {
        10% {
          transform: scaleX(0);
        }
        40% {
          transform: scaleX(0.15);
        }
        65% {
          transform: scaleX(0.5);
          border-radius: 0 50% 50% 0;
        }
        75% {
          border-radius: 0 50% 50% 0;
        }
        90%,
        100% {
          border-radius: 0;
        }
        75%,
        100% {
          transform: scaleX(1);
        }
      }
    }
  }
}
