@font-face {
  font-family: "Chub Gothic";
  src: url("../fonts/Chubgothic.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("../fonts/SFProDisplay-Bold.woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "SFProText";
  src: url("../fonts/SFUIText-Regular.woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Segoe UI";
  src: url("../fonts/seguibl.ttf");
  font-style: normal;
  font-weight: 800;
}
