.menu {
  position: fixed;
  z-index: 2;
  top: 0;
  pointer-events: none;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;

  backdrop-filter: blur(0);

  transition: 1s opacity, 1s filter, 1s transform;
  &.active {
    pointer-events: all;
    .right-side-nav {
      .link {
        line-height: 100px;
        @include for-size(phone-only) {
          line-height: unset;
        }
      }
    }
  }
  .right-side-nav {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 170px;
    padding: 30px 95px 30px 0;

    text-transform: uppercase;
    font-size: 60px;
    text-align: right;

    @include for-size(phone-only) {
      margin-left: 0;
      padding: 0px 85px;
      margin: auto;
      width: 100%;
      @include flexCenter;
      align-items: flex-start;
    }
    .link {
      height: 95px;
      overflow: hidden;
      cursor: pointer;

      color: #777;
      opacity: 0.3;

      font-size: 52px;
      font-weight: 200;
      text-transform: uppercase;
      line-height: 300px;
      letter-spacing: 1.5px;

      transition: 0.5s all;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      @include for-size(phone-only) {
        margin: 0;
        padding: 11px 0px;
        height: auto;

        font-size: 43px;
        line-height: unset;
        letter-spacing: 1.5px;
        text-transform: capitalize;
        font-weight: 100;

        color: white !important;
        opacity: 1 !important;
      }

      &:nth-child(2) {
        transition-delay: 0s;
      }
      &:nth-child(3) {
        transition-delay: 0.05s;
      }
      &:nth-child(4) {
        transition-delay: 0.1s;
      }
      &:nth-child(5) {
        transition-delay: 0.15s;
      }
    }
    .line-wrapper {
      position: absolute;
      width: 1px;
      height: 100%;
      position: absolute;
      background: rgba(255, 255, 255, 0.2);
      right: 0;
      top: 0;
      opacity: 0;
      transition: 0.3s opacity;

      @include for-size(phone-only) {
        left: 46px;
        right: unset;
        display: none;
      }

      &.active {
        transition-delay: 0.5s;
        opacity: 1;
      }
      .line {
        width: 100%;
        height: 0%;
        background: white;
        transition: 0.5s height;
      }
    }
  }
}
