@import "response";

@import "vars";

@import "mixins";

@import "animations";

@import "contact";

@import "swiper.min";

@import "fonts";

@import "common";

/*--------------------------------------------------
	04. Слайдер с проектами
---------------------------------------------------*/
.swiper-container {
  height: 100%;
  width: 100%;
  @include flexCenter;
  cursor: grab;

  @include for-size(tablet-portrait-up) {
    display: block;
    height: auto;
  }

  .swiper-wrapper {
    height: auto;
    transition-timing-function: cubic-bezier(0.26, 1.04, 0.54, 1);

    @include for-size(tablet-portrait-up) {
      align-items: unset;
      flex-direction: column;
    }

    .swiper-slide {
      height: auto;
      width: auto;
      padding-right: 5px;
      overflow: hidden;
      position: relative;

      @include flexCenter;
      flex-direction: column;

      &:nth-child(1) {
        @include flexCenter;
        width: 60vw;
        padding: 0;

        @include for-size(big-desktop-up) {
          width: 1150px;
        }
        @include for-size(tablet-portrait-up) {
          height: 550px;
          width: 100%;
          align-items: center;
        }
        @include for-size(phone-min) {
          height: 400px;
        }

        .father-info {
          position: relative;

          @include flexCenter;
          width: 100%;
          flex-direction: column;
          margin-top: -50px;

          @include for-size(big-desktop-up) {
            margin-top: -90px;
          }

          @include for-size(tablet-portrait-up) {
            flex-direction: column;
            margin: auto;
            width: 85%;
            padding: 30px 0 0 0;
            @include flexCenter;
          }
          @include for-size(phone-min) {
            padding: 40px 0 0 0;
          }

          &__img-wrapper {
            position: relative;

            min-width: 115px;
            width: 115px;
            height: auto;

            @include for-size(big-desktop-up) {
              width: 172px;
            }

            @include for-size(tablet-portrait-up) {
              margin-right: 0;
              width: 100px;
            }

            img[alt="memoji"] {
              border-radius: 100%;
              width: 100%;
              // border: 1.5px solid #171717;
            }
            img[alt="emoji"] {
              position: absolute;
              bottom: 4px;
              right: 4px;

              width: 28px;
              margin: 0 0 0 5px;
              display: none;

              @include for-size(tablet-portrait-up) {
              }
            }
          }

          .flexCol {
            @include flexCenter;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;

            text-align: left;

            @include for-size(tablet-portrait-up) {
              text-align: center;
              width: max-content;
              max-width: 100%;
              align-items: center;
            }
          }

          h1 {
            width: 500px;
            margin: auto;

            font-size: 40px;
            text-align: center;

            @include for-size(big-desktop-up) {
              font-size: 60px;
              width: 700px;
            }
            @include for-size(tablet-portrait-up) {
              font-size: 36px;
            }
            @include for-size(phone-min) {
              font-size: 30px;
            }

            &.title_desktop {
              @include for-size(tablet-portrait-up) {
                display: none;
              }
            }
            &.title_smartphone {
              display: none;
              @include for-size(tablet-portrait-up) {
                display: unset;
              }
            }

            @include for-size(tablet-portrait-up) {
              margin-top: 5px;
              width: auto;
              max-width: 100%;
            }
          }
          p {
            width: 350px;
            margin: 15px auto;

            text-align: center;

            color: #bbb;

            @include for-size(big-desktop-up) {
              font-size: 24px;

              width: 550px;
              margin: 23px auto 0 auto;
            }

            @include for-size(tablet-portrait-up) {
              font-size: 15px;
              width: 90%;
            }
          }

          a {
            display: flex;
            width: max-content;
            margin: auto;
            padding: 13px 30px;
            font-size: 11px;

            color: white;
            outline: none;
            color: black;
            border: 0;
            background: white;

            font-weight: bold;
            text-transform: uppercase;

            &:hover {
              background: rgba(white, 0.12);
              color: white;
            }

            @include for-size(tablet-portrait-up) {
              margin-top: 10px;
              display: none;
            }
          }
        }
      }

      @include for-size(tablet-portrait-up) {
        @include flexCenter;
        flex-direction: column;
        width: 100%;
        height: auto;

        margin-bottom: 30px;
        padding: 0 25px;
      }

      .background {
        z-index: 1;
        left: 0;
        right: 0;

        width: 600px;
        height: auto;
        margin: 0;

        @include backgroundCC;

        @include for-size(big-desktop-up) {
          width: 890px;
          margin-top: 10px;
        }
        @include for-size(tablet-portrait-up) {
          width: 100%;
          height: auto;
        }
      }
      &__lower-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        padding: 15px;

        @include for-size(big-desktop-up) {
          padding: 25px;
        }
        @include for-size(tablet-portrait-up) {
          display: none;
        }

        h5 {
          font-size: 20px;
          font-family: $font-family;
          font-weight: 800;
          letter-spacing: 0.5px;

          @include for-size(big-desktop-up) {
            font-size: 30px;
          }
        }
        p {
          color: #4a4a4a;
          margin-top: 1px;

          @include for-size(big-desktop-up) {
            font-size: 22px;
          }
        }
      }
    }
  }
}
.swiper-scrollbar {
  width: 305px;
  margin-left: 45px;

  background: #4a4a4a;
  border-radius: 0;

  height: 2px;

  @include for-size(big-desktop-up) {
    transform: scale(1.5);
    margin-left: 135px;
  }
  @include for-size(tablet-portrait-up) {
    display: none;
  }

  &-drag {
    background: #ddd;
    opacity: 0.5;
    border-radius: 0;
  }
}

.icon-wrapper {
  position: relative;

  pointer-events: all;
  @include flexCenter;
  width: 38px;
  height: 38px;

  font-size: 15px;

  border-radius: 100px;
  color: white;

  transition: 0.2s background-color;
  cursor: pointer;

  svg {
    fill: white;
    width: $FS-icons;
    height: $FS-icons;
  }

  @include for-size(big-desktop-up) {
    font-size: 20px;
    svg {
      width: $fullhd-FS-icons;
      height: $fullhd-FS-icons;
    }
  }
}
